*{
    margin: 0px;
    box-shadow: none;
}
@media  only screen and (min-width: 755px) {
    body{
        background-color: rgb(221,221,221);
    }
    .i1{
        position: absolute;
        top: 1960px;left: 0px;
        width: 100%;
    }
    
    .container{
        width: 100%;
        background-color: rgb(221,221,221);
    }
    .pc-top{
        width: 100%;height: 45px;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color:rgb(40,40,40);
        
    }
    .i2{
        position: absolute;
        top:11px ;
        left: 955px;
    }
    .p1{
        font-size: 19px;
        position: absolute;
        color: white;
        top: 12px;
        left: 1013px;
    }
    .p2{
        font-size: 19px;
        position: absolute;
        top: 12px;
        color: white;
        left: 1208px;
    }
    .p3{
        font-size: 19px;
        position: absolute;
        top: 12px;
        color: white;
        left: 1274px;
    }
    .p4{
        font-size: 19px;
        position: absolute;
        top: 12px;
        color: white;
        left: 1293px;
    }
    .daohang{
        position: absolute;
        top:45px ;
        left: 0px;
        width: 100%;height: 79px;
        background-color: white;
    }
    .i3{
        position: absolute;
        top: 14px;
        left: 115px;
        width: 179px;height: 51px;
    }
    nav{
        position: absolute;
        top: 20px;
        left: 423px;
        width: 430px;height: 43px;
        margin-right: 0px;
        display: inline-block;
    }
    .navbar-default{
        background-color: white;
        border: 0px;
        margin-right: 0px;
    }
    .nav{
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .navbar{
        margin: 0px;
        margin-right: 0px;
    }
    .nav li:hover{
        cursor: pointer;
        border-bottom: 3px solid rgb(203,84,5);
        background-color: #fff;
    }
    .l1{
        border-bottom:  solid rgb(203,84,5);
    }
    
    .navbar-default  .navbar-nav li a:hover{
        color: rgb(203,84,5);
    }
    .navbar-default  .navbar-nav .l1 a{
        border-bottom:  solid rgb(203,84,5);
        color: rgb(203,84,5);
    }
    .l2{
        position: absolute;
        left: 60px;
    }
    .l3{
        position: absolute;
        left: 110px;
    }
    .l4{
        position: absolute;
        left: 160px;
    }
    .zhutu{
        position: absolute;
        top: 124px;
        width: 100%;height: 446px;
    }
    .i4{
        position: absolute;
        top: 0px;
        margin: 0px;
        width: 100%;height: 446px;
    }
    
   .p5{
       font-size: 48px;
       position: absolute;
       top: 80px;
       left: 189px;
       color: rgb(224,224,224);
       font-weight: 200;
       font-family:  '微软雅黑';
   }
   .xian1{
       position: absolute;
       width: 321px;height: 1px;
       background-color:gray;
       top: 155px;
       left: 196px;
   }
   .p6{
       position: absolute;
       font-size: 20px;
       color:rgb(224,224,224);
       top: 172px;
       left: 195px;
   }
   .p7{
       position: absolute;
       font-size: 20px;
       color: rgb(224,224,224);
       left: 195px;
       top: 212px;
       margin-bottom: 0px;
   }
   .xian2{
       position: absolute;
       background-color: gray;
       height: 1px;width: 405px;
       left: 196px;
       top: 246px;
   }
   .search{
       width: 582px;height: 49px;
       position: absolute;
       top: 332px;
       left: 423px;
       border: 2px solid black;
       border-radius: 5px;
   }
   .you{
       width: 146px;height: 44px;
       position: absolute;
       left: 0px;
       background-color: rgb(211,211 , 216);
       border-radius: 5px 0px 0px 5px;
   }
   .i5{
       margin-right: 0px;
       margin-left: 0px;
       display: inline-block;
       position: absolute;
       top:13px ;
       left: 27px;
   }
   .p8{
       position: absolute;
       font-size: 18px;
       width: 60px;height: 18px;
       margin-bottom: 0px;
       left: 64px;
       top: 12px;
       color: rgb(83,83,83);
   }
   .moren{
       position: absolute;
       width: 310px;height: 44px;
       background-color: rgb(225,225,225);
       top: 0px;
       left: 146px;
       border: 0px;
       font-size: 18px;
   }
   .anniu{
       position: absolute;
       width: 122px;height: 44px;
       border-radius: 0px 5px 5px 0px ;
       top: 0px;
       left: 456px;
       background-color:rgb(203,84,5) ;
       border: 0px;
       background-image: url(img/search.png);
       background-repeat: no-repeat;
       background-position: center;      
   }
   /* 机场接机 */
   .c1{
       position: absolute;
       width: 1200px;height:364px ;
       top: 600px;
       left: 170px;
       border-radius: 2px;
   }
   .i6{
       width: 934px;height: 364px;
       position: absolute;
       left: 0px;
   }
   .part2{
       position: absolute;
       left: 934px;
       width: 266px;height: 364px;
       background-color: rgb(20,46,109);
       border-radius: 0px 3px 3px 0px;
   }
   .i7{
       margin-right: 0px;
       display: inline-block;
       position: absolute;
       top: 82px;left: 89px;
       width: 94px;height: 92px;
   }
   .p9{
       width: 107px;height: 27px;
       position: absolute;
       color: rgb(225,225,225);
       top: 193px;left: 85px;
       font-size: 26px;           
    }
    .anniu2{
        position: absolute;
        width: 179px;height: 52px;
        border: 1px solid rgb(225,225,225);
        background-color: rgba(225, 225, 225, 0);
        border-radius: 10px;
        font-size: 24px;
        color: rgb(225, 225, 225);
        top: 271px;
        left: 50px;
    }
    /* 热门路线 */
    .wenzi1{
        position: absolute;
        width: 207px;height: 69px;
        top: 995px;left:650px ;
    }
    .p10{
        position: absolute;
        width: 207px;height: 37px;
        top: 0px; left: 0px;
        font-size: 36px;
        color: black;
        text-align: center;
        margin-bottom: 0px;
    }
    .p11{
        position: absolute;
        top:50px ; left: 0px;
        width: 207px;height: 32px;
        text-align: center;
        font-size: 18px;
        color: black;
        margin-bottom: 0px;
    }
    .tuzu{
        width: 1200px;height: 1020px;
        position: absolute;
        top: 1101px; left: 170px;
       
    }
    .part-zuo{
        position: absolute;
        width: 588px; height: 1020px;
        top: 0px; left: 0px;
    }
    .part-you{
        position: absolute;
        top: 0px; left: 592px;
        width: 608px; height: 1020px;
    }
    .i8{
        position: absolute;
        top: 0px; left: 0px;
        width: 588px; height: 385px;
    }
    .i9{
        position: absolute;
        width: 588px; height: 525px;
        top: 493px; left: 0px;
    }
    .i10{
        position: absolute;
        top: 0px; left: 0px;
        width:608px ;height: 292px;
    }
    .i11{
        position: absolute;
        top: 296px; left: 0px;
        width: 608px;height: 355px;
    }
    .i12{
        position: absolute;
        top:655px ; left: 0px;
        width: 608px; height: 365px;
    }
    .biao1{
        position: absolute;
        top: 385px; left: 0px;
        background-color: rgb(0,0,0);
        width: 588px; height: 105px;
    }
    .biao2{
        position: absolute;
        top: 933px; left: 0px;
        background-color: rgb(0,0,0);
        width: 588px; height: 87px;               
    }
    .biao3{
        position: absolute;
        top: 206px;left: 0px;
        width: 608px;height: 87px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .biao4{
        position: absolute;
        top: 563px;left: 0px;
        width: 608px;height: 87px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .biao5{
        position: absolute;
        top: 932px;left: 0px;
        width: 608px;height: 87px;
        background-color: rgba(0, 0, 0, 0.5);
        
    }
    span{
        font-size: 30px;
    }
    .p12{
        position: absolute;
        top: 21px; left: 39px;
        width: 395px;height: 21px;
        font-size: 20px;
        color: white;
    }
    .p13{
        position: absolute;
        top: 54px; left: 41px;
        width: 143px;height: 26px;
        font-size: 20px;
        color: white;
    }
    .p16{
        position: absolute;
        top: 14px;left: 39px;
        width: 395px;height: 21px;
        font-size: 20px;
        color: white;
    }
    .p17{
        position: absolute;
        top:45px;left: 41px;
        font-size: 20px;
        color: white;
    }
    .p14{
        position: absolute;
        width: 470px;height: 21px;
        top: 13px;left:34px ;
        font-size: 20px;
        color: white;
        margin-bottom: 0px;
    }
    .p15{
        position: absolute;
        top: 46px;left: 36px;
        color: white;
        font-size: 20px;
    }
    /* 使命与愿景 */
    .wenzi2{
        position: absolute;
        top: 2169px;left:650px;
        width: 224px;height: 81px;
    }
    .w1{
        position: absolute;
        top: 0px;left: 0px;
        width: 224px;height: 35px;
        font-size: 36px;
        text-align: center;
        color: black;
    }
    .w2{
        position: absolute;
        top: 65px;left: 0px;
        width: 224px;height: 15px;
        text-align: center;
        font-size: 16px;
        color: black;
        margin-bottom: 0px;
    }
    .tuzu2{
        position: absolute;
        top: 2290px;left: 170px;
        width: 1200px;height: 1230px;
    }
    .t1{
        position: absolute;
        top: 0px; left: 0px;
        width: 495px;height: 350px;
    }
    .t2{
        position: absolute;
        top: 0px;left: 495px;
        width: 705px;height: 350px;
        background-color: rgb(28,80,128);
    }
    .t2-1{
        position: absolute;
        top: 89px;left: 258px;
        width: 182px;height: 25px;
        font-size: 26px;color: white;
    }
    .t2-2{
        position: absolute;
        top: 158px;left: 95px;
        font-size: 16px;color: white;
        width: 516px;height: 124px;
        line-height: 30px;
    }
    .t3{
        position: absolute;
        top: 354px;left: 0px;
        width:100% ;height: 473px;
    }
    .xunzhang{
        position: absolute;
        top: 830px;left: 0px;
        width: 1200px;height: 398px;
        background-color: rgb(28,80,128);
        border-bottom: 1px solid rgb(85, 124, 160);
    }
    .part-x1{
        position: absolute;
        top: 46px;left: 122px;
        width: 282px;height: 281px;
    }
    .part-x2{
        position: absolute;
        top: 46px; left: 461px;
        width: 282px;height: 281px;
    }
    .part-x3{
        position: absolute;
        top: 46px; left: 792px;
        width: 282px;height: 281px;
    }
    .kuang{
        position: absolute;
        top: 0px;left: 46px;
        width: 188px;height: 187px;
    }
    .biaozi{
        position: absolute;
        width: 288px;height: 50px;
        font-size: 16px;color: white;
        text-align: center;
        font-family: "微软雅黑";
        top: 230px;
    }
    .x1-1{
        position: absolute;
        top: 49px;left: 109px;
    }
    .x2-1{
        position: absolute;
        top: 42px; left: 117px;
    }
    .x3-1{
        position: absolute;
        top: 49px; left: 115px;
    }
    .xzm{
        position: absolute;
        top: 126px; left: 103px;
        font-size: 20px;
        width: 81px; height: 20px;
        color: white;
    }
    .dibiao{
        width: 100%;height: 529px;
        position: absolute;
        top: 3521px;
        background-color: black;
    }
    .part-d1{
        position: absolute;
        top: 47px; left: 127px;
        width: 550px; height: 72px;
    }
    .part-d2{
        position: absolute;
        top: 154px; left: 127px;
        width: 1181px; height: 46px;
    }
    .part-d3{
        position: absolute;
        left: 127px; top: 228px;
        width: 733px;height: 18px;
    }
    .part-d4{
        position: absolute;
        top: 274px;left: 127px;
        width: 1163px;height: 47px;
    }
    .zhubiao{
        position: absolute;
        top: 0px;left: 0px;
        width: 80px; height: 22px;
        font-size: 18px;color: rgb(209,209,209);
    }
    .d1{
        position: absolute;
        top: 0px;left: 93px;
        width: 111px;height: 72px;
    }
    .d2{
        position: absolute;
        top: 0px;left: 220px;
        width: 111px;height: 72px;
    }
    .d3{
        position: absolute;
        top: 0px;left: 347px;
        width: 111px;height: 72px;
    }
    .d4{
        position: absolute;
        top: 0px;left: 477px;
        width: 73px;height: 72px;
    }
    .tb{
        position: absolute;
        top: 0px;left: 0px;
    }
    .tbz{
        position: absolute;
        top: 56px;
        width: 111px;height: 16px;
        font-size: 14px;color: rgb(134,134,134);
        text-align: center;
    }
    .d4-2{
        position: absolute;
        top: 56px;
        width: 73px;height: 16px;
        font-size: 14px;color:rgb(134,134,134);
        text-align: center;
    }
    .d2-1{
        position: absolute;
        top: 0px;left: 97px;
        font-size: 14px;color: rgb(134,134,134);
    }
    .d3-1{
        position: absolute;
        top: 0px;left: 97px;
        font-size: 14px;color: rgb(134,134,134);
    }
    .d4-1{
        position: absolute;
        top: 0px;left: 0px;
        font-size: 14px;color: rgb(134,134,134);
    }
    .xian3{
        position: absolute;
        top: 368px;left: 0px;
        background-color: rgb(64,64,64);
        width: 100%;height: 1px;
    }
    .banquan{
        position: absolute;
        top:412px ;left:561px ;
        width: 328px;height: 17px;
        font-size: 16px;color: white;
    }
}
/* 手机版 */
@media  only screen and (max-width: 755px){
    *{
        margin: 0px;
        padding: 0px;
    }
    .container{
        width: 750px;
    }
    .i1{
        position: absolute;
        top: 1888px;left: 0px;
        width: 750px;
    }
    .i3{
        position: absolute;
        width: 224px;height: 65px;
        top: 18px;left: 43px;
    }
    .daohang{
        position: absolute;
        top: 0px;
        width: 750px;height: 108px;
        background-color: white;
    }
    .navbar{
        position: absolute;
        top: 34px;right: 40px;
        width: 47px;height: 47px;
        padding: 0px;
        margin-bottom: 0px;
    }
    .navbar-toggle{
        margin: 0px;
        padding: 0px;
        width: 47px;height: 47px;
        border: 0px;
        background-color: white;
    }
    .navbar-toggle .icon-bar{
        padding: 0px;
        margin-top: 0px;margin-right: 0px;
        width: 48px;height: 5px;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: black;
    }
    .navbar-default{
        background-color: white;border-color: white;
    }
    .ic1{
        position: absolute;
        top: 0px;left: 0px;
    }
    .ic2{
        position: absolute;
        top: 21px;left: 0px;
    }
    .ic3{
        position: absolute;
        top: 43px; left: 0px;
    }
    .anniu3{
        position: absolute;
        width: 165px; height: 55px;
        background-color: rgb(232,66,10);
        font-size: 28px;color: white;
        border: 0px; border-radius: 8px;
        font-weight: lighter;
        top: 28px;right: 132px;
    }
    .zhutu{
        position: absolute;
        top: 108px; left: 0px;
        width: 750px; height: 365px;
    }
    .i4{
        position: absolute;
        top: 0px;left: 0px;
        width: 750px;height: 365px;
    }
    .p5{
        position: absolute;
        top: 65px;left: 45px;
        width: 472px;height: 38px;
        font-size: 40px;color: white;
        font-weight: lighter;
    }
    .p18{
        position: absolute;
        top: 133px;left: 45px;
        width: 350px; height: 26px;
        font-size: 28px;color: white;
        font-weight: lighter;

    }
    .search{
        position: absolute;
        top: 253px;left: 49px;
        width: 653px;height: 66px;
        border: 2px solid black;
        border-radius: 5px;
    }
    .you{
        position: absolute;
        top: 0px;left: 0px;
        width: 163px;height: 62px;
        border-radius: 5px 0px 0px 5px;
        background-color: rgb(242,243,247);
    }
    .i5{
       margin-right: 0px;
       margin-left: 0px;
       display: inline-block;
       position: absolute;
       top: 21px;left: 20px;
    }
    .p8{
        position: absolute;
        top: 20px;left: 72px;
        width: 60px;height: 20px;
        font-size: 20px;
        color:rgb(102,102,102) ;
    }
    .moren{
        position: absolute;
        top: 0px;left: 163px;
        background-color: white;
        font-size: 20px;color: rgb(157,157,157);
        width: 347px;height: 62px;
        border: 0px;
    }
    .anniu{
        position: absolute;
        top: 0px;right: 0px;
        width: 143px;height: 62px;
        background-color:rgb(203,84,5) ;
        border: 0px;border-radius: 0px 5px 5px 0px ;
        background-image: url(img/search.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .kong1{
        position: absolute;
        top: 473px;left: 0px;
        width: 100%;height: 21px;
        background-color: rgb(245,245,245);
    }
    /* 机场接机 */
    .c2{
        position: absolute;
        top: 494px; left: 0px;
        width: 750px;height: 198px;
        background-color: white;
    }
    .c2-1{
        position: absolute;
        top: 46px; left: 42px;
        width: 93px; height: 93px;
    }
    .c2-2{
        position: absolute;
        top: 45px;left: 156px;
        width: 255px;height: 29px;
        color: rgb(28,80,128);
        font-size: 30px;
    }
    .c2-3{
        position: absolute;
        top: 109px;left: 156px;
        width: 264px; height: 21px;
        font-size: 22px;color: rgb(102,102,102);
    }
    .c2-4{
        position: absolute;
        top: 139px;left: 156px;
        width: 396px;height: 21px;
        font-size: 22px;color: rgb(102,102,102);
    }
    .anniu4{
        position: absolute;
        top: 73px;right: 41px;
        width: 165px;height: 55px;
        border: 1px solid rgb(102,102,102);
        border-radius: 10px;
        font-size: 28px;font-weight: lighter;
        background-color: white;
    }
    .kong2{
        position: absolute;
        top: 692px;left: 0px;
        width: 100%;height: 20px;
        background-color: rgb(245,245,245);
    }
    .wenzi1{
        position: absolute;
        width: 145px;height: 33px;
        top: 760px;left: 42px;
    }
    .wz1-1{
        position: absolute;
        top: 0px;left: 0px;
        width: 4px;height: 33px;
        background-color: rgb(232,66,10);
    }
    .wz1-2{
        position: absolute;
        top: -5px;left: 17px;
        width: 130px;height: 33px;
        font-size: 30px;color: black;
        text-align: center;
    }
    .fenge{
        position: absolute;
        top: 810px;left: 42px;
        background-color: rgb(232,232,232);
        width: 669px;height: 1px;
    }
    .tuzu{
        position: absolute;
        top: 829px;left: 41px;
        width: 669px;height: 942px;
    }
    .i8{
        position: absolute;
        top: 0px;left: 0px;
        width:669px ;height: 398px;
    }
    .i9{
        position: absolute;
        width: 669px;height: 398px;
        top: 422px;left: 0px;
    }
    .biao1-1{
        position: absolute;
        top: 281px;left: 0px;
        width: 669px;height: 116px;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .biao2-2{
        position: absolute;
        top: 704px;left: 0px;
        width: 669px;height: 116px;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .bp-1{
        position: absolute;
        width: 301px;height: 71px;
        top: 24px;left: 16px;
        font-size: 26px;color: white;
    }
    .bp-2{
        position: absolute;
        top: 43px;right: 26px;
        width: 165px;height: 34px;
        font-size: 20px;color: white;
    }
    span{
        font-size: 40px;color: white;
    }
    .more{
        position: absolute;
        bottom: 25px;left: 252px;
        font-size: 26px;color: rgb(102,102,102);
        width: 225px;height: 55px;
        background-color: white;
        text-align: center;
        border: 1px solid rgb(102,102,102);
        border-radius: 10px;font-weight: lighter;
    }
    .kong3{
        position: absolute;
        top: 1769px;left: 0px;
        width: 750px;height: 20px;
        background-color: rgb(245,245,245);
    }
    /* 使命与愿景 */
    .tuzu2{
        position: absolute;
        width: 669px;height: 1113px;
        top: 1789px;left: 41px;
    }
    .wenzi3{
        position: absolute;
        width: 526px;height: 33px;
        left: 1px;top: 49px;
    }
    .w3-3{
        position: absolute;
        top: 0px;left: 0px;
        width: 4px;height: 33px;
        background-color: rgb(232,66,10);
    }
    .w3-1{
        position: absolute;
        top:-5px;left: 17px;
        width: 200px;height: 33px;
        font-size: 30px;color: black;
        text-align: center;
        margin-bottom: 0px;
    }
    .w3-2{
        position: absolute;
        top: 0px;left: 190px;
        font-size: 24px;color: black;
    }
    .fenge2{
        position: absolute;
        top: 98px;left: 0px;
        background-color: rgb(102,102,102);
        width: 669px;height: 1px;
    }
    .t1{
        position: absolute;
        top: 148px;left: 0px;
        width: 669px;height: 328px;
    }
    .t2{
        position: absolute;
        top: 549px;left: 0px;
        width: 669px;height: 195px;
    }
    .t2-3{
        position: absolute;
        top: 0px;left: 0px;
        width: 669px;height: 28p;
        text-align: center;
        font-size: 30px;color: black;
    }
    .t2-2{
        position: absolute;
        top: 66px;left: 0px;
        width: 669px;height: 131px;
        font-size: 22px;color: black;
    }
    .t3{
        position: absolute;
        top: 785px;left: 0px;
        width: 669px;height: 328px;
    }
    .xunzhang2{
        position: absolute;
        top: 1179px;left: 41px;
        width: 669px;height: 578px;
    }
    .xz2-1{
        position: absolute;
        top: 0px;left: 0px;
        width: 669px;height: 30px;
        font-size: 30px;text-align: center;
        color: black;
    }
    .xz2-2{
        position: absolute;
        top: 92px;left: 89px;
        width: 83px;height: 76px;
    }
    .xz2-3{
        position: absolute;
        top: 88px;left: 247px;
        width: 300px;height: 81px;
        font-size: 22px;color: black;
    }
    .xz2-fenge1{
        position: absolute;
        top: 225px;left: 0px;
        width: 669px;height: 1px;
        background-color: rgb(232,232,232);
    }
    .xz2-4{
        position: absolute;
        top: 272px;left: 99px;
        height: 100px;width: 73px;
    }
    .xz2-5{
        position: absolute;
        top: 296px;left: 253px;
        width: 245px;height: 51px;
        font-size: 22px;color: black;
    }
    .xz2-fenge2{
        position: absolute;
        top: 415px;left: 0px;
        width: 669px;height: 1px;
        background-color: rgb(232,232,232);
    }
    .xz2-6{
        position: absolute;
        top: 453px;left: 107px;
        width: 67px;height: 76px;
    }
    .xz2-7{
        position: absolute;
        top: 470px;left: 255px;
        width: 308px;height: 58px;
        font-size: 22px;color: black;
    }
    .xz2-fenge3{
        position: absolute;
        top: 578px;
        width: 669px;height: 1px;
        background-color: rgb(232,232,232);
    }
    .dibiao2{
        position: absolute;
        top: 3618px;left: 0px;
        width: 750px;height: 333px;
        background-color: rgb(52,50,53);
    }
    .db2-1{
        position: absolute;
        top: 107px;left: 186px;
        font-size: 22px;color: white;
        width: 382px;height: 103px;
        text-align: center;
    }
}